@import "tailwindcss";

@theme {
    --color-bg: #212121;
    --color-text: #ececec;
    --color-bg-sidebar: #171717;
    --color-bg-prompt: #2f2f2f;
    --color-bg-modal: #1e1e1e;
    --color-bg-menu: #2a2a2a;
}