# Frontend
FRONTEND_ORIGIN=http://127.0.0.1:5173

# Databases
DATABASE_URI=<dialect>+<driver>://<user>:<user_password>@<host>:<port>/<db_name>[?<options>]

# JWT
JWT_AT_KEY=access_token
JWT_SECRET_KEY=secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Qdrant
QDRANT_SERVER=qdrant # Container DNS resolver | Qdrant API
QDRANT_COLLECTION=rbac_rag_vector_db
QDRANT_API_KEY=your-api-key # Leave empty string if you don't use Qdrant Cloud (https://cloud.qdrant.io/)

# Embedding model
EMBEDDING_MODEL=BAAI/bge-m3
VECTOR_SIZE=1024

# Ollama
OLLAMA_HOST=http://ollama:11434 # Container DNS resolver
OLLAMA_API_KEY=your-api-key # Leave empty string if you don't use Ollama Cloud

LLM_MODEL=gemma4:e2b-it-q4_K_M

# Storage
STORAGE_DIR=storage

DEBUG=1 # 1:on 0: off
