# Frontend
FRONTEND_ORIGIN="http://127.0.0.1:5173"

# PostgreSQL
POSTGRES_USER=rbac_rag
POSTGRES_PASSWORD=rbac_rag
POSTGRES_DB=rbac_rag
POSTGRES_SERVER=postgresql # Container DNS resolver

# JWT
JWT_AT_KEY=access_token
JWT_SECRET_KEY=secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Qdrant
QDRANT_SERVER=qdrant # Container DNS resolver
QDRANT_COLLECTION=rbac_rag_vector_db

# Embedding model
EMBEDDING_MODEL="BAAI/bge-m3"

# Ollama
OLLAMA_HOST="http://ollama:11434" # Container DNS resolver

# Storage
STORAGE_DIR=storage

DEBUG=true
